body {
    margin: auto;
}

.box {
    width: calc(50% + 50%);
    height: 120px;
    background: rgb(59, 146, 119);
}

.box:hover {
    background-color: deepskyblue;
}

h1:hover {
    color:green;
}

h1:active {
    color: aqua;
}

li:first-child {
    color:hotpink;
}

li:last-child {
    color: blueviolet;
    font-size: 40px;
}

q:lang(no) {
    quotes: "~" "~";
}